/*menu */
@charset "UTF-8";
.mg-bottom-30 {
  margin-bottom: 0px !important; }

*{margin: 0;padding: 0;}
.glyphicon{font-family: 'Glyphicons Halflings';}
*{
  font-family: 'Roboto', sans-serif!important;
}

/* 1.2 - HTML5 Elements */
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section { display:block; }
/* 1.4 - Typography */
h1,h2,h3,h4,h5,h6 { color:#000000; margin:0 0 13px 0;  font-weight:500;line-height:1.2}
h1 { font-size: 36px; }
h2 { font-size: 28px;}
h3 { font-size: 24px;}
h4 { font-size: 13px; line-height: 18px; }
h5 { font-size: 12px; line-height: 18px; }
h6 { font-size: 10px; line-height: 18px; text-transform:uppercase; }
p{ margin: 0 0 10px 0; line-height: 21px }
/* 1.5 - Links and Buttons */
a {color:#000000;text-decoration: none; outline: none; -moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;-webkit-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
a:hover,a:focus{color:#65d1e6;text-decoration: none; outline: none;}  
a:active { outline: none; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color:#000000;line-height: 1.1; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover{color:#65d1e6;}
/* 1.6 - Tables 
table { width: 100%; border-spacing: 0; }
table tr td { border-top: 1px solid #dddddd; }
table tr td, table tr th { padding: 10px; text-align: left; }
table tr td:first-child, table tr th:first-child { padding-left: 0px; }
table tr td:last-child, table tr th:last-child { padding-right: 0px; }
strong { font-weight: 700; }
em { font-style: italic; }
/* 2.3 - Lists */
ul{ padding:0;list-style-type:none;}
ul.unstyled, ol.unstyled { margin: 0; list-style: none outside none; }
ul.unstyled > li, ol.unstyled > li { list-style: none; }
ul.horizontal > li, ol.horizontal > li { display: block; float: left; }
ul.horizontal-inline, ol.horizontal-inline { text-align: center; }
ul.horizontal-inline > li, ol.horizontal-inline > li { display: inline; margin: 0 5px; }
ul.expanded > li, ol.expanded > li { margin-bottom: 10px; }
a{transition: opacity 150ms linear, color 150ms linear, background 150ms linear;}
input:focus {outline: none;}

.shopee_item {
  background: #F65421;
}
.tiki_item {
  background: #1BA8FF;
}
.lazada_item {
  background: #0203b0;
}
.tiki_item img,.lazada_item img {
  border-radius: 100%;
}
.shopee_item svg { 
  width: 24px;
  height: 24px;
  margin-top: 10px;
}
.header-top-item.social ul {
  display:flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-end;
}
.header-top-item.social ul li a{
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 44px;
  height: 44px;
  line-height: 44px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.11);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.header-top {
  display: flex;
  margin: top;
  background-color: white;
  width: 100%;
  height: auto;
  position: fixed;
  border-color: red;
}
.header-top {
  align-items: center;
  justify-content: center;
}
.main-header.affix-mobile .header-top {
  justify-content: unset;
}
@media (min-width: 992px) {
  .header-top .col-15,.header-mid .wrap-logo {
    flex: 0 0 12%;
  }
  .header-top-item.menu,.header-mid .menu-desktop {
    flex: 1 0 0 !important;
  }
  .header-top-item.social {
    flex: 0 0 22%;
  }
  .header-top-item.hotline,.header-mid .header-wrap-icon{
    margin-top: 40px;
    flex: 0 0 30%;
  }
} 
.header-top-item.menu ul {
  text-align: center;
  display: inline-block;
  width: 100%;
}
.header-top-item.menu {
  text-align: center;
  flex: auto;
}
.header-top-item.menu ul {
  text-align: center;
  display: inline-block;
}

.header-top-item.menu .main-nav {
  display: flex;
  justify-content: center;
  position: fixed;
}
#site-header.affix-mobile .header-top-item.menu .main-nav { 
  justify-content: center;
}
#nav .main-nav * {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden
}
#nav nav.main-nav ul li a {color:#000000;}
#nav nav.main-nav ul li a:hover {color:#65d1e6;}
#nav .main-nav>ul>li {
  float: left;z-index: 10;
  display: inline-block;
}
#nav .main-nav > ul>li>a {
  display: block;
  font-size: 15px;
  font-weight: 500%;
  padding: 10px 0 15px;
  margin: 0 20px 0 0;
  position: relative;
}
#nav .main-nav > ul>li>a:before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  border-bottom: 2px solid #5c5c5c;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}
#nav .main-nav > ul>li>a:hover:before, 
#nav .main-nav > ul>li.active>a:before {
  opacity:1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
#nav .main-nav ul { padding-left: 0;margin:0;}
#nav .main-nav ul>li a i {
  display: inline-block;
  vertical-align: middle;
  font-size: 9px;
  margin-left: 4px;
  margin-bottom: 2px;
}
#nav .main-nav .sub_menu {
  background: #fff;
  position: absolute;
  z-index:999;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -o-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -ms-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -webkit-transform: rotate3d(1,0,0,-90deg);
  -moz-transform: rotate3d(1,0,0,-90deg);
  -o-transform: rotate3d(1,0,0,-90deg);
  -ms-transform: rotate3d(1,0,0,-90deg);
  transform: rotate3d(1,0,0,-90deg);
  -webkit-transform-origin: 0 0 0;
  -moz-transform-origin: 0 0 0;
  -o-transform-origin: 0 0 0;
  -ms-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
#nav .main-nav ul>li>ul {top: 100%;margin-top:-2px;border-top:2px solid #5c5c5c;}
#nav .main-nav li:hover>.sub_menu {
  -webkit-transform: rotate3d(0,0,0,0deg);
  -moz-transform: rotate3d(0,0,0,0deg);
  -o-transform: rotate3d(0,0,0,0deg);
  -ms-transform: rotate3d(0,0,0,0deg);
  transform: rotate3d(0,0,0,0deg);
}
#nav .main-nav .sub_menu a {
  padding: 9px 18px;
  white-space: nowrap;
  text-align: left;
  display: block;
  font-size: 14px;
}
#nav .main-nav .sub_menu .sub_menu {
  left: 100%;
  top: -2px;
  margin-left: 1px;
  margin-top: 0;
  -webkit-transform: rotate3d(0,1,0,90deg);
  -moz-transform: rotate3d(0,1,0,90deg);
  -o-transform: rotate3d(0,1,0,90deg);
  -ms-transform: rotate3d(0,1,0,90deg);
  transform: rotate3d(0,1,0,90deg)
}
#nav .main-nav .sub_menu li:not(:first-child) { border-top: 1px solid #ecf0f1}
#nav .main-nav ul>li i {
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s
}
#nav .main-nav ul>li:hover>a i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom:0;
}
#nav .main-nav ul li .sub_menu li{position: relative}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section { display:block; }
nav.main-nav > ul > li:hover .megamenu {
  z-index: 90000;
  opacity: 1;
  transition: opacity .1s,visibility 0ms;
  transition-delay: .3s;
  visibility: visible;
}
.megamenu {
  position: absolute;
  visibility: hidden;
  top: 34px;
  left: -160px;
  max-height: calc(100vh - 112px);
  width: 100vw;
  right: 0px;
  background: #fff;
  overflow: auto;
  z-index: -1;
  opacity: 0;
  border-top: 1px solid #e5e5e5;
  padding: 10px 0px;
  transition: opacity .1s linear .4s,visibility 0ms linear .41s;

}
.megamenu .menu ul li a {
  width: 100%;
  display: inline-  block;
}

.megamenu .container {
  display: flex;
  flex-direction: row;
}

.megamenu .title {
  text-transform: uppercase;
}

li.mega-item > a {
  text-transform: uppercase;
}
.megamenu .menu {
  flex: auto;
  text-align: left;
  padding: 0px 10px;
}

.megamenu .menu.col-4 {
  flex: 4;
  border-left: 1px solid #e5e5e5;
}
.megamenu .col-1.menu {
  border-right: 1px solid #e5e5e5;
}
.megamenu .menu ul li {
  text-align: left;
}

.megamenu .menu .title {
  font-weight: 600;
  font-size: 16px;
}
.megamenu .menu li {
  line-height: 29px;
}
li.mega-item {
  float: left;
  width: 20%;
  margin-bottom: 10px;
}

li.mega-item:nth-child(2n+1) {
  clear: both;
}

li.mega-item > ul {
  border-top: none !important;
}

 @keyframes saleAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }
  .sale-text {
    font-size: 24px;
    color: red;
    animation: saleAnimation 2s infinite; /* 2s là thời gian một chu kỳ, infinite để chuyển động liên tục */
  }

element.style {
}
.header-sub .header-icon a:hover {
    opacity: 0.7;
}
.header-sub .header-icon a {
    margin: 0 5px;
    color: black;
    text-decoration: none;
}
a:active, a:hover {
    outline-width: 0;
}
a:hover, a:focus {
    color: #2a6496;
    text-decoration: underline;
}
a:active, a:hover {
    outline: 0;
}
a {
    color: inherit;
}
a {
    background-color: transparent;
}
a {
    text-decoration: none;
    outline: none;
    color: #999999;
}
a {
    color: #428bca;
    text-decoration: none;
}
a {
    background: 0 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.header-sub .header-icon li {
    list-style: none;
    display: inline;
    margin: 0 20px;
}
user agent stylesheet
li {
    text-align: -webkit-match-parent;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
body {
  width: 100%;
  height: auto;
  font-family: Roboto;
  font-size: 13px;
  margin: 0;
  padding: 0;
 /*background: url("B:/lap trinh web/bai cuoi ki/hinhanhweb/saobang8.gif") center/cover no-repeat;*/
  background: url("B:/lap trinh web/bai cuoi ki/hinhanhweb/saobang3.gif") center repeat;
}
body {
    background: ;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
:root, :host {
    --fa-style-family-classic: 'Font Awesome 6 Free';
    --fa-font-solid: normal 900 1em/1 'Font Awesome 6 Free';
}
:root, :host {
    --fa-style-family-classic: 'Font Awesome 6 Free';
    --fa-font-regular: normal 400 1em/1 'Font Awesome 6 Free';
}
:root, :host {
    --fa-style-family-brands: 'Font Awesome 6 Brands';
    --fa-font-brands: normal 400 1em/1 'Font Awesome 6 Brands';
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header-top-item a {
  color: black; /* Màu sắc của văn bản */
  text-decoration: none; /* Loại bỏ gạch chân dưới văn bản */
  display: inline-flex; /* Hiển thị các phần tử trên cùng một dòng */
  align-items: center; /* Căn chỉnh theo chiều dọc */
}

.header-top-item a strong {
  margin-right: 10px; /* Khoảng cách giữa chữ và icon */
}

.header-top-item img {
    width: 20px; /* Độ rộng mong muốn của icon */
    height: 20px; /* Chiều cao tự động điều chỉnh theo tỷ lệ */
    /* Khoảng cách giữa hình ảnh và văn bản */
    margin-left: 5px; 
    margin-right: 5px;
}
.header-top-item table{
  border: transparent;
  margin-left: 20px;
}
.header-top-item table td b:hover{
  color: red;
}
/* ket thuc menu cung dang nhap */

/* tim kiem */
.search-bar-container {
      text-align: center;
      display: flex;
      padding-left: 400px;
      padding-top: 100px;
    }

    .search-bar input[type="text"] {
      width: 600px;
      padding: 10px;
      border: none;
      border-radius: 25px;
      font-size: 16px;
      outline: none;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .search-bar button {
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 25px;
      padding: 10px 15px;
      cursor: pointer;
    }
    .search-bar button:hover {
    background-color: #45a049;
}
/* uu dai */

.cDbSlider-slides {
    max-width: 100%;
    overflow: hidden;
}

.cDbSlider-slideItem {
    display: none;
}

.cDbSlider-slideItem.active {
    display: block;
}

.cDbSlider-slideContent {
  padding-top: 20px;
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}
/* san pham khuyen mai */
.sanphamkhuyenmai{
  width: 380px;
  height: auto;
}
.sanphamkhuyenmai h2 {
    padding: 0 40px 0 110px;
    white-space: nowrap;
    background: #4471C2 url("B:\\lap trinh web\\bai cuoi ki\\hinhanhweb\\bangron.png") left center no-repeat;
}

.sanphamkhuyenmai h2:hover{
    padding-left: 140px;
    transition: 0.3s;
    color: white;
}

.sanphamkhuyenmai1{
  width: 380px;
  height: auto;
}
.sanphamkhuyenmai1 h2 {
    padding: 0 40px 0 110px;
    white-space: nowrap;
    background: #4471C2 url("B:\\lap trinh web\\bai cuoi ki\\hinhanhweb\\bangron.png") left center no-repeat;
}

.sanphamkhuyenmai1 h2:hover{
    padding-left: 140px;
    transition: 0.3s;
    color: white;
}


li{
  list-style: none;
}
.slider-product-one-content {
  padding: 12px;
}

.slider-product-one-content-items {
  display: flex;
  justify-content: space-evenly;
}
.slider-product-one-content-item:hover .hinh1{
  transform: translateY(-20px);
}
.slider-product-one-content-item {
 
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  width: 15%;
  background-color:#fff;
  padding: 50px 12px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.slider-product-one-content-item > img {
  width: 100%;
  transition: all 0.5s ease;
}
.slider-product-one-content-item-text {
  padding-top: 20px;
}
.slider-product-one-content-item-text li{
  margin-bottom: 6px;
}

.slider-product-one-content-item-text li:first-child p{
  color:white;
  line-height: 30px;
  font-size: 12px;
  text-indent: 10px;
}
.slider-product-one-content-item-text li:first-child img{
  width: 30px;
  height: 30px;
  border-radius: 40px;
  float: left;
}
.slider-product-one-content-item-text li:nth-child(4) .ad1{
  text-decoration: line-through;
  color: #333;
  font-size: 11px;
}
.slider-product-one-content-item-text li:nth-child(6){
  font-size: 11px;
}
.slider-product-one-content-item a {
  visibility: hidden;
  background-color: red;
  padding: 5px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
}
.slider-product-one-content-item a:hover{
  background-color: blue;
}
.slider-product-one-content-item:hover a{
  visibility: visible;
}
/*-------------------------*/
.slider-content-left-top-container{
  position: relative;
  overflow: hidden;
}
.btn1{
  position: absolute;
  top:50%;
  right: 0%;
  width: 20px;
  height: 40px;
}
.btn2{
  position: absolute;
  top:50%;
  left: 0%;
  width: 20px;
  height: 40px;
}

.slider-product-one-content-items-content{
  position: relative;
  margin-top: 10px;
  height: 450px;
  transition: all 0.3s ease;
}
.slider-product-one-content-items{
  position: absolute;
}
.slider-product-one-content-items:nth-child(2){
  transform: translateX(100%);
}
.slider-product-one-content-items:nth-child(3){
  transform: translateX(200%);
}

/*-----------san pham hot---------------*/

.slider-product-one-content1 {
  padding: 12px;
}

.slider-product-one-content-items1 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.slider-product-one-content-item1:hover .hinh1{
  transform: translateY(-20px);
}
.slider-product-one-content-item1 {
 
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  width: 15%;
  background-color:#fff;
  padding: 50px 12px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.slider-product-one-content-item1 > img {
  width: 100%;
  transition: all 0.5s ease;
}
.slider-product-one-content-item-text1 {
  padding-top: 20px;
}
.slider-product-one-content-item-text1 li{
  margin-bottom: 6px;
}

.slider-product-one-content-item-text1 li:first-child p{
  color:white;
  line-height: 30px;
  font-size: 12px;
  text-indent: 10px;
}
.slider-product-one-content-item-text1 li:first-child img{
  width: 30px;
  height: 30px;
  border-radius: 40px;
  float: left;
}
.slider-product-one-content-item-text1 li:nth-child(4) .ad1{
  text-decoration: line-through;
  color: #333;
  font-size: 11px;
}
.slider-product-one-content-item-text1 li:nth-child(6){
  font-size: 11px;
}
.slider-product-one-content-item1 a {
  visibility: hidden;
  background-color: red;
  padding: 5px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
}
.slider-product-one-content-item1 a:hover{
  background-color: blue;
}
.slider-product-one-content-item1:hover a{
  visibility: visible;
}

.slider-content-left-top-container1{
  position: relative; 
}

.slider-product-one-content-items-content1{
  position: relative;
  margin-top: 10px;
  height: 450px;
  transition: all 0.3s ease;
}
/*-----tin tuc*/
.tintuc1{
  float: right; 
  width: 48%;

}
.tintuc1 img{
  width: 170px;
  height: 170px;
  margin-right: 10px;
}
.tintuc1 span{
   position: absolute;
}

.tintuc1 table { width: 100%; border-spacing: 0; }
.tintuc1 table tr td { border-top: 1px solid #dddddd; }
.tintuc1 table tr td, table tr th { padding: 10px; text-align: left; }
.tintuc1 table tr td:first-child, table tr th:first-child { padding-left: 0px; }
.tintuc1 table tr td:last-child, table tr th:last-child { padding-right: 0px; }
.tintuc1 strong { font-weight: 700; }
.tintuc1 em { font-style: italic; }
/*dang nhap*/
  
       